.vscode/**
.vscode-test/**
src/**
!src/python/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.venv/**
**/output/**
**/out/**
**/.env
.github/**
.git/**
.gitattributes
**/.DS_Store/**
node_modules/**
